In [1]:
# Import the dependencies 
import pandas as pd 
import gmaps
import requests 
# Import the API key 
from config import key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Andenes,NO,2021-06-24 01:43:57,69.3143,16.1194,52.07,82,90,11.50
1,1,Puerto Ayora,EC,2021-06-24 01:43:57,-0.7393,-90.3518,72.57,85,62,8.14
2,2,Pevek,RU,2021-06-24 01:43:58,69.7008,170.3133,38.79,77,9,3.91
3,3,Totolapa,MX,2021-06-24 01:43:58,18.5167,-96.1833,83.93,90,100,4.68
4,4,Adrar,MR,2021-06-24 01:43:59,20.5022,-10.0711,86.94,14,4,17.29
5,5,Busselton,AU,2021-06-24 01:43:59,-33.6500,115.3333,50.04,66,75,6.55
6,6,Lorengau,PG,2021-06-24 01:44:00,-2.0226,147.2712,83.48,73,81,3.74
7,7,Rikitea,PF,2021-06-24 01:44:00,-23.1203,-134.9692,75.79,73,11,9.06
8,8,Borovskoy,KZ,2021-06-24 01:44:00,53.8000,64.1500,55.22,67,8,13.33
9,9,Cape Town,ZA,2021-06-24 01:43:04,-33.9258,18.4232,50.11,93,0,3.44

In [3]:
#Mapping must have integer or floating point number
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key 
map_client = gmaps.configure(api_key=key)

In [5]:
# # Assigns tht elocations to an array of lat and long
# locations = [latitude, longitude]
# # Assogns the weights variable to some values 
# temperatures = 
# #an array of the length equal to locations array length
# # Assigns the figure variable to gmaps.figure() attribute 
# fig = gmaps.figure()
# heatmap_layer = gmaps.heatmap_layer(locations, weights= temperatures)
# # Add the heatmap layer
# fig.add_layer(heatmap_layer)
# #Call the figure to plot the data
# fig

In [6]:
#Heatmap of temperature 
# Get lat and lng
locations = city_data_df[["Lat", "Lng"]]

#Google heatmaps do not plot negative numbers, therefore, to remove negatives temperatures
#we use for a loop to add the temperatures greater than 0 *F to a new list
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)   
# Assign heaatmap layer
fig.add_layer(heat_layer)
# Call the figure and plot the data 
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Creating the percentage humidity heatmap 
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Creating the percentage cloudiness heatmap 
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Creating the percentage cloudiness heatmap 
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add minimum and maximum temperature 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Totolapa,MX,2021-06-24 01:43:58,18.5167,-96.1833,83.93,90,100,4.68
4,4,Adrar,MR,2021-06-24 01:43:59,20.5022,-10.0711,86.94,14,4,17.29
6,6,Lorengau,PG,2021-06-24 01:44:00,-2.0226,147.2712,83.48,73,81,3.74
7,7,Rikitea,PF,2021-06-24 01:44:00,-23.1203,-134.9692,75.79,73,11,9.06
13,13,Chokurdakh,RU,2021-06-24 01:44:04,70.6333,147.9167,78.93,22,22,3.51

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

Using the coordinates of Preferred cities find a hotel using our Google Places API and retreive that hotel information so we can store it and reference it to our pop up marker

In [14]:
# Create a dataframe called hotel_df to store hotel names along with city, max temp, coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3      Totolapa      MX     83.93  18.5167  -96.1833
4         Adrar      MR     86.94  20.5022  -10.0711
6      Lorengau      PG     83.48  -2.0226  147.2712
7       Rikitea      PF     75.79 -23.1203 -134.9692
13   Chokurdakh      RU     78.93  70.6333  147.9167
18      Kichera      RU     80.74  55.9375  110.0997
21        Along      IN     75.72  28.1667   94.7667
26     Lakatoro      VU     79.50 -16.0999  167.4164
29  Fort Nelson      CA     78.39  58.8053 -122.7002
35       Waddan      LY     86.23  29.1614   16.1390

In [15]:
# Set the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": key
}

In [16]:
# Iterate through the dataframe 
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude 
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the lat and long to location keys for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: lodging and your latitude and longtidue 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    try: 
        # Grab the first hotel from the result and store the name
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
            print("Hotel not found....skipping.")

Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.

In [17]:
# Add a heatmap of temperature for the vacations spots and markers for each  city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# add a pop up for each city displaying hotel name, city name, country and max temp
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp<dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [19]:
# Store the dataframe row 
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
ocations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))