## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import key

# Configure gmaps
gmaps.configure(api_key= key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Cabo San Lucas,MX,82.81,broken clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
1,3,Kapaa,US,73.72,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,4,Sao Filipe,CV,77.61,overcast clouds,14.8961,-24.4956,Hotel Xaguate
3,5,Rikitea,PF,73.65,clear sky,-23.1203,-134.9692,People ThankYou
4,7,East London,ZA,74.34,clear sky,-33.0153,27.9116,Tu Casa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name: </dt><dd>{Hotel Name}</dd>
<dt>City: </dt><dd>{City}</dd>
<dt>Country: </dt><dd>{Country}</dd>
<dt>Weather Description: </dt><dd>{Current Description}</dd>
<dt>Max Temp: <dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                dissipating=False, max_intensity=300,
                                point_radius=4)

# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Oxford"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Oxford"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Harwich"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Margate"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Northam"]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
313,611,Oxford,GB,73.4,scattered clouds,51.7522,-1.256,Malmaison Oxford

In [7]:
start_lat = vacation_start["Lat"].to_list()
start_long = vacation_start["Lng"].to_list()
start_list = (start_lat[0], start_long[0])
start_list

(51.7522, -1.256)

In [8]:
stop1_lat = vacation_stop1["Lat"].to_list()
stop1_long = vacation_stop1["Lng"].to_list()
stop1_list = (stop1_lat[0], stop1_long[0])
stop1_list

(51.9419, 1.2844)

In [9]:
stop2_lat = vacation_stop2["Lat"].to_list()
stop2_long = vacation_stop2["Lng"].to_list()
stop2_list = (stop2_lat[0], stop2_long[0])
stop2_list

(51.3813, 1.3862)

In [10]:
stop3_lat = vacation_stop3["Lat"].to_list()
stop3_long = vacation_stop3["Lng"].to_list()
stop3_list = (stop3_lat[0], stop3_long[0])
stop3_list

(51.0333, -4.2167)

In [11]:
end_lat = vacation_end["Lat"].to_list()
end_long = vacation_end["Lng"].to_list()
end_list = (end_lat[0], end_long[0])
end_list

(51.7522, -1.256)

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction_layer = gmaps.directions_layer(start_list, end_list, waypoints=[stop1_list, stop2_list, stop3_list], 
                                         travel_mode="DRIVING")
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,611,Oxford,GB,73.40,scattered clouds,51.7522,-1.2560,Malmaison Oxford
1,360,Harwich,GB,72.54,clear sky,51.9419,1.2844,Premier Inn Harwich hotel
2,558,Margate,GB,71.85,scattered clouds,51.3813,1.3862,Premier Inn Margate hotel
3,431,Northam,GB,66.15,overcast clouds,51.0333,-4.2167,Durrant House Hotel
4,611,Oxford,GB,73.40,scattered clouds,51.7522,-1.2560,Malmaison Oxford

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name: </dt><dd>{Hotel Name}</dd>
<dt>City: </dt><dd>{City}</dd>
<dt>Country: </dt><dd>{Country}</dd>
<dt>Weather Description: </dt><dd>{Current Description}</dd>
<dt>Max Temp: <dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 4b. Display the figure
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))